<%- include("../includes/header.ejs", {title:"Accounts"}); %>
<h1>Accounts</h1>
<ul>
    <li>Name: <%= result[0].first_name %> <%= result[0].last_name %></li>
    <li>Email: <%= result[0].email %></li>
    <li>School(s):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].school_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Skills:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].skill_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Companies Worked At:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].company_name %></li>
            <% } %>
        </ul>
    </li>
</ul>
<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>