<%- include("../includes/header.ejs", {title: "Update " + account.account_name}); %>

<h1>Update <%= account.account_name%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account[0].account_id %>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= account[0].first_name%>"/>
    <br />
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= account[0].last_name%>"/>
    <br />
    <br />
    Email: <input id="email" name="email" type="text" value="<%= account[0].email%>"/>
    <br />
    <br />
    Schools Attended
    <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; account.length > i; i++ ) { %>
        <option value="<%= account[i].school_id %>" selected><%= account[i].school_name %></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>
    <br />
    <br />
    Skills
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; account.length > i; i++ ) { %>
        <option value="<%= account[i].skill_id %>" selected><%= account[i].skill_name %></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>
    <br />
    <br />
    Companies Worked For
    <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; account.length > i; i++ ) { %>
        <option value="<%= account[i].company_id %>" selected><%= account[i].company_name %></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>
    <br />
    <br />


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>