<%- include("../includes/header.ejs", {title:"Resumes - View All"});%>

<h1>Resumes</h1>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= locals.resume_name %> was successfully saved. %>
    </div>
</div>
<% }%>
<a href="/resume/add/selectuser">Add New Resume</a> <br/>
<br/>
<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><a href ="/resume/?resume_id=<%= result[i].resume_id%>"><%= result[i].first_name %> <%= result[i].last_name %> <%= result[i].resume_name %></a></td>
        <td>
            <form action='/resume/edit/' method="post">
                <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                <input type="hidden" name="account_id" id="account-id" value="<%= result[i].account_id %>" />
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form action="/resume/delete/" style="display:inline;">
                <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>