<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/account/all">Accounts - View All</a>
    <br/>
    <a href="/company/all">Companies - View All</a>
    <br/>
    <a href="/address/all">Address - View All</a>
    <br/>
    <a href="/school/all">Schools - View All</a>
    <br/>
    <a href="/skill/all">Skills - View All</a>
    <br/>
    <a href="/resume/all">Resumes - View All</a>

    <br />

<%- include("./includes/footer.ejs"); %>
