<%- include("../includes/header.ejs", {title:"Address - View All"});%>

<h1>Skills</h1>
<a href="/skill/add">Add New Skill</a> <br/>
<br/>
<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><a href ="/skill/?skill_id=<%= result[i].skill_id%>"><%= result[i].skill_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/skill/edit/?skill_id=<%= result[i].skill_id %>'">Edit</button>
            <form action="/skill/delete/" style="display:inline;">
                <input type="hidden" name="skill_id" id="skill_id" value="<%= result[i].skill_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>