<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
    <h1>Add New Address</h1>
    <form action ="/address/insert" method="get">
        Street: <input id="street" name="street" type="text">
        <br/>
        <br/>
        Zip Code: <input id="zip_code" name="zip_code" type="text">
        <br/>
        <input type="submit">

    </form>
<%- include("../includes/footer.ejs"); %>