<%- include("../includes/header.ejs", {title:"Addresses"}); %>
    <h1>Addresses</h1>
    <ul>
        <li>Street: <%= result[0].street %></li>
        <li>Zip: <%= result[0].zip_code %></li>
    </ul>
<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>